.bg{
    background-color: white;
    margin-left: -2px;
    height: 100%;
}

.cabecalho{
    background-color: black;
    margin-right: -2px;
    height: 110%;

}

#titulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 15px;
    
}

.container{
    position: relative;
    box-align: center;
    margin-top: 30px;
    margin-bottom: 10%;
}

.textTCLE{
    text-align: justify;
    margin-bottom: 10px;
    
}
.textoExplicativo{
    font-size: 15px;
}

.textQuestion{
    text-align: left;
    margin-bottom: 30px;
    }

.textQuestion label{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.textQuestionAns{
    margin-left:5%;
}

.divBtn{
    margin-bottom: 6%;
}

.cabecaTabela{
    align-content: center;
}

#divis{
    margin-top: 20px;
}

#btnContinuar{
    display:inline-block;
    float: right;
    margin-left: 10px;
}

#btnCancelar{
    float: right;
}

#botaoContinuar{
    margin-left: 45%;
}

#centralizado{
    text-align: center;
}